.container{
    max-width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(184, 132, 232);

}

h1{
    margin-top: 0;
    text-align: center;
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
}

button{
    margin-left: 40%;
    margin-top: 10px;
    
}